NODE_ENV=development
DATABASE_URL="mysql://root:Root_aAbBcC12_3@localhost:3306/mydb"
APP_JWK_PRIVATE_KEY='{"kty":"EC","d":"AUMw2K5nqsF0vFbWHILe9jdOPZ5J5ZAvYH8SLfIaQgjavYl4JVcYuS3HXcQosVRabSml1ialX9FgFKIPTgxi8Q-i","use":"sig","crv":"P-521","kid":"key_qfyDstjClwLgIyratZPqtWE7KodbzleUOjFsiQ","x":"ABoYXuuPa8mDWc6Fow9Jft6W1xdZpDuWVGLr3xnuFKzU0PjRCenbP70Rj4aARtu1-T5sF0jKhOmGb3HC2acXXhss","y":"AKlCgseOQi2Tbi6FmCVA4bjZjTrWb64QVWTDKrxoyv-XgAFcKhevn0yirOY5u4smycZHDK2V7iJ8VIMoUBQ-tfq2","alg":"ES512"}'
